* {

    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* header-section */
.header {

    background-color: rgba(255, 144, 14, 0.1);
}

.navbar {

    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 50px 200px;
    align-items: center;

}

.nav-title {

    font-size: 45px;
    font-style: bold;
    color: #131313;
}

.navbar ul {
    display: flex;
}

.navbar li {
    list-style: none;
    margin-right: 20px;


}

.navbar li a {
    text-decoration: none;
    font-size: 18px;
    font-style: bold;
    color: #424242;
    font-weight: 400px;
}

.navbar li a:hover {
    color: rgb(197, 77, 8);
}

/* banner-section-starts */
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-info {
    text-align: center;
}

.banner-title {
    color: #131313;
    font-size: 64px;
    font-style: bold;
    margin-bottom: 32px;
    margin-top: 100px;
}

.banner-description {
    font-size: 16px;
    font-style: regular;
    color: #727272;
    margin-bottom: 32px;
}

.btn {
    border: none;
    background-color: #FF900E;
    width: 180px;
    height: 64px;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin: 50px 0 32px;
}

.banner-img {
    width: 1440px;
    height: 700px;
    border-radius: 8px;
    margin-bottom: 45px;
}

/* main-section-1 starts */
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sec-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 73px;
    margin-top: 85px;
}

.sec-1-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 24px;
    grid-column-gap: 24px;
}

.sec-1-img {
    height: 342px;
    width: 342px;
    border-radius: 8px;
}

.span-gray {
    color: #727272;
    font-style: regular;
    font-weight: 50px;
    font-size: 45px;

}



.sec-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700px;
    font-style: bold;

}

.span-orange {
    color: #FF900E;
    font-weight: 700px;
    font-size: 45px;
}

.section-description {
    font-size: 16px;
    font-style: regular;
    color: #727272;
    margin-top: 15px;
}

/* main-section-2-starts */

.sec-2-container {
    display: flex;
    justify-content: center;
    gap: 150px;
    align-items: center;
    margin-top: 130px;
}

.sec-2-title {
    border-left: 8px solid #FF900E;
    padding-left: 20px;

}

.sec-2-detail {

    height: 171px;
    width: 586px;
    padding: 30px 0 0 30px;
    border-radius: 8px;
    background-color: #ffffff;
    margin-bottom: 20px;
    box-shadow: 0 4px 15px 5px rgba(0, 0, 0, 0.06);


}

.sec-2-description {
    margin: 24px 0 30px;
    font-size: 16px;
    font-style: regular;
    color: #727272;

}

.sec-2-detail-title {
    border-left: 3px #FF900E;
    font-size: 20px;
    font-style: semi-bold;
    color: #131313;
    margin-bottom: 5px;

}

.position {
    position: relative;
}

.sec-2-img {

    height: 982px;
    width: 708px;
    border-radius: 8px;


}

.btn-2 {
    position: absolute;
    bottom: 4%;
    right: 50%;
    transform: translate(-35%, 50%);
    border: none;
    background-color: #FF900E;
    width: 342px;
    height: 200px;
    border-radius: 8px;
    color: white;
    font-size: 65px;
    font-weight: 500;
    text-align: center;
    padding-top: 40px;
    margin-right: -20px;


}

.span-btn-2 {
    font-size: 25px;
}

/* section-3-starts */

.sec-3 {
    display: flex;
    justify-content: center;
    gap: 125px;
}

.sec-3-info {
    padding-top: 130px;
    width: 1440px;

    margin: 0 auto;
}

.sec-3-details {
    height: 220px;
    width: 220px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding-top: 40px;
    margin-top: 100px;
    transition: width 0.5s linear, height 0.5s linear;
}

.sec-3-details:hover {
    background-color: rgb(255, 184, 184);
    border: 3px solid rgb(247, 94, 107);

    width: 250px;
    height: 250px;
}

.sec-3-img {
    padding-top: 10px;
    width: 45px;
    height: 45px;
}

.sec-3-title {
    color: #424242;
    font-size: 45px;
    font-style: SemiBold;
    margin: 10px 0;

}

.sec-3-description {
    color: #727272;
    font-size: 20px;
}

/* bonus-section-starts */

.bonus {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.bonus-img-1 {
    height: 400px;
    width: 400px;
    transition: width 0.5s ease-out, height 0.5s ease-out;
}

.bonus-img-2 {
    height: 400px;
    width: 400px;
    transition: width 0.5s ease-out, height 0.5s ease-out;
}

.bonus-section-container-1 {

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 5px;

}

.bonus-section-container-2 {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 5px;
    grid-column-gap: 5px;

}

.bonus-img-1:hover {
    background-color: #19abffa8;
    border: 5px solid #19abffa8;
    padding: 10px;

    width: 500px;
    height: 500px;

}

.bonus-img-2:hover {
    background-color: #fab56683;
    border: 5px solid #fab56683;
    padding: 10px;
    width: 500px;
    height: 500px;
}

/* main- section-4 */

.sec-4-info {
    text-align: center;
    margin-top: 175px;
}

.sec-4-details {
    display: flex;
    justify-content: center;
    gap: 155px;
    margin: 55px 0 130px;

}

.sec-4-logo {
    filter: grayscale();
}

/* footer-section-starts */

.footer {
    margin: 0 auto 255px;
    width: 1440px;
    height: 100px;
    background-color: #FFF4E7;
}

.footer-description {
    padding-top: 40px;
    text-align: center;
    font-size: 20px;
    font-style: regular;
    color: #424242;
}

html,
body {
    overflow-x: hidden;
}

.hide {
    display: none;
}

@media only screen and (max-width:576px) {
    * {
        width: 100%;
    }

    .header {

        background-color: rgba(255, 144, 14, 0.1);
    }

    .navbar {
        flex-direction: column;
        padding: 0;
    }

    .nav-title {

        text-align: center;
        font-size: 30px;
        font-style: bold;
        color: #131313;
    }

    .navbar ul {

        gap: 5px;
        flex-direction: column;
        align-items: flex-start;

    }

    .navbar li {
        list-style: none;

    }

    .navbar li a {
        text-decoration: none;
        font-size: 16px;
        font-style: bold;
        color: #424242;

    }

    .banner-title {
        color: #131313;
        font-size: 42px;
        font-style: bold;
        margin-bottom: 32px;
        margin-top: 40px;
    }

    .btn {
        border: none;
        background-color: #FF900E;
        width: 150px;
        height: 45px;
        color: white;
        margin: 27px 0 19px;
    }



    .banner-img {
        width: 100%;
        height: 200px;
        margin-bottom: 40px;
    }

    .sec-1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .sec-1-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .sec-1-img {
        height: 200px;
        width: 201px;
        border-radius: 8px;
    }

    .section-description,
    .sec-2-description {
        padding-left: 10px;
        font-size: 14px;
        font-style: regular;
        color: #727272;
        margin-top: 15px;
    }

    .sec-2-container {

        flex-direction: column;
        gap: 30px;
    }

    .sec-2-description {
        margin: 24px 0 30px;
    }

    .sec-2-detail {
        height: 153px;
        width: 317px;
        padding: 15px;
        border-radius: 8px;
        background-color: #ffffff;
        margin: 11px 4px 9px 10px;;
        box-shadow: 0 4px 15px 5px rgb(0 0 0 / 6%);
    }

    .sec-2-img {
        height: 303px;
        width: 100%;
        border-radius: 8px;
    }

    .btn-2 {
        position: absolute;
        bottom: 4%;
        right: 50%;
        transform: translate(39%, 50%);
        border: none;
        background-color: #FF900E;
        width: 170px;
        height: 81px;
        border-radius: 8px;
        color: white;
        font-size: 23px;
        font-weight: 500px;
        text-align: center;
        padding-top: 7px;
        margin-right: -17px;
    }

    .span-btn-2 {
        font-size: 15px;
    }

    .sec-3-info {
        padding-top: 60px;
        width: 246px;
        margin: 0 auto;
    }

    .sec-3 {
        display: flex;
        gap: 51px;
        flex-direction: column;
        align-items: center;
    }

    .sec-3-details {
        height: 175px;
        width: 218px;
        border: 1px solid #FF900E;
        border-radius: 8px;
        text-align: center;
        padding-top: 20px;
        margin-top: 20px;
        transition: width 0.5s linear, height 0.5s linear;
    }

    .sec-3-details:hover {
        background-color: rgb(255, 184, 184);
        border: 3px solid rgb(247, 94, 107);

        width: 250px;
        height: 250px;
    }

    .sec-4-info {
        text-align: left;
        margin-top: 110px;
    }

    .bonus {
        margin-top: 50px;
        display: flex;

        gap: 20px;
        flex-direction: column;
        align-items: center;
    }

    .bonus-img-1 {
        height: 250px;
        width: 250px;

    }

    .bonus-img-2 {
        height: 250px;
        width: 250px;

    }

    .bonus-section-container-1,
    .bonus-section-container-2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 5px;

    }

    .bonus-img-1:hover {
        display: none;
    }

    .bonus-img-2:hover {
        display: none;
    }

    .sec-4-logo {
        width: 100px;
        height: 100px;
    }

    .sec-4-details {
        flex-direction: column;

        gap: 10px;
        margin: 40px 0 60px;
        flex-direction: column;
        align-items: center;
    }

    .footer {
        width: 100%;
        margin: 0 auto 100px;
        width: 300;
        height: 126px;
        background-color: #FFF4E7;
    }
}